"""Unit tests for `[[ python_package_import_name ]]`."""

def test_rpc_method([[ python_package_import_name ]]):
    arg1 = 4
    arg2 = 2

    actual = [[ python_package_import_name ]].rpc_method(arg1, arg2)

    assert actual is not None